<a href="https://colab.research.google.com/github/haliechm/LearningPython/blob/master/LearningPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning Pyton**


---
Python Variable Types

Multiple assignment

In [0]:
a = b = c = 1.0
print(b)

1.0

In [0]:
a, b, c = 1.0, "Moana", True
print(b)

Moana

Data Types: 
int, float, string, boolean

In [0]:
x = 4
y = 4.0
z = "foo"
w = True

type(x) #int 
type(y) #float
type(z) #str
type(w) #bool

bool

**Numbers**

In [0]:
import math
x = -14.5
abs(x) # absolute value of x (14.5)
math.floor(x) # -15
math.ceil(x) #-14

y = 14.2
math.ceil(y) #15
math.floor(y) #14

max(4, 5, 6, 7, 8, 2) # max = 8
(min(-100, 4, 5, 20000, 2.1, -19) # min = -100


pow(2, 3) #8 (2^3)

3**3 #27

z = 4.092
round(z, 2) #4.09 round the second decimal place

a = 4.09209487
round(a, 4) #4.0921

math.sqrt(4) #square root = 2.0

-100

2.0

**Strings**

In [0]:
name = "Halie Chmura"
print(name[0]) #prints first character (H)
print (name[3:6]) #prints third index char up to fifth index char (ie )
print(name[3:]) #prints third index char to end (ie Chmura)
print(name*2) #prints Halie Chmura twice
print(name + " is here") #concatenates string
print("The person writing this Python code is: {}".format(name)) #use format to add variables into the string

H
ie
ie Chmura
Halie ChmuraHalie Chmura
Halie Chmura is here
The person writing this Python code is: Halie Chmura

In [0]:
x = "Walt Disney World"
"isn" in x # True
"eyW" in x # False
"ey W" in x # True

"Potato" not in x # True

True

In [0]:
y = "Hakuna Matata - it means no worries, for the rest of your days"
y.capitalize() # capitalizes only first work of string

y.count("or") # counts how many times "or appears in sentence"
y.count("or", 0, len(y)) # same as above, but 3 parameters (str, beg, end)

y.endswith("days") # True parameters (str, beg, end)

o = y.find("Mat") # returns index of first letter if found (7) or -1 if not found

y.isalpha() # False - returns true if string has all alphabetical characters (not true bc of spaces)
z = "halie"
z.isalpha() # True

y.isdigit() # False - returns true if string only contains numbers
z = "403"
z.isdigit() # True
l = "4.03"
l.isdigit() # False

y.islower() # False - returns true if all characters are lower case
z = "hello mate"
z.islower() # True

a = "ADAM"
b = "eve"
a.join(b) # "eADAMvADAMe"

len(a) #4 - returns length of string

a.lower() # converts all letters to lowercase
b.upper() # converts all letters to uppercase

max(a) # "M" returns max alphabetical char from str
min(a) # "A" returns min alphabetical char from str

c = "it\'s late at night"
c.split(" ", 4) # makes list: ["it's", "late", "at", "night"]

c.title() # capitalizes first letter of each word

c = "HAlie"
c.swapcase() #"haLIE"

"It'S Late At Night"

**Lists**

In [0]:
tv_shows = ["Peaky Blinders", "Game Of Thrones", "The Office", 
            "Chuck", "The 100", "Jeopardy", "Southern Charm", "Family Feud",
            "Below Deck", "Money Heist", "The Good Place", "Grey's Anatomy"]
mix_list = ["I'm a string", 100.02, True, 5, "Murphy", False]
print(tv_shows) #prints entire list
print(tv_shows[0]) #prints first element in list
print(tv_shows[2:]) #prints entire list starting with third element
print(tv_shows[:4]) #prints beginning of list up to fourth element (does not include fourth indexed element)
print(tv_shows * 3) #prints list three times in one list
print(tv_shows + mix_list) #prints concatenated list

tv_shows[3] = "Columbo" #adds Columbo to the third index (fourth element)
tv_shows.append("Psych") #adds Psych to the last element

['Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy"]
Peaky Blinders
['The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy"]
['Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck']
['Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy", 'Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy", 'Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy"]
['Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy", "I'm a string", 100.02, True, 5, 'Murphy', False]
['Peaky Blinders', 'Game Of Thrones', 'The Office', 'Columbo', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy", 'Psych']

In [0]:
x = [4, "foo", True, -143830912.92, "moo", "doo"]
del x[1] # gets rid of second element in list

x = [4, "foo", True, -143830912.92, "moo", "doo"]
len(x) # length of list (6)
y = ["bear", 10]
z = x + y # concatenates x and y into one list

"bear" in y # True
12 in y #False

#for xi in x :
  #print(xi) #prints out new line for each element in x

x[-1] # last element of x ("doo")
x[-2] # second to last element of x ("moo")
x[0:-2] # [4, "foo", True, -143830912.92] (does not include second to last element but does include first element)

# max(x) won't work bc not supported between diff data types

y = [4, 5, 6, 5, 2, 3, 4, 5, 3, 5, 3]
max(y) # max number in y (6)
z = ["foo", "apple", "zoo", "zebra"]
max(z) # max value of alphabetical ("zoo")

# can do same with min(z)

y.count(3) # counts the number of times something appears (3 times)
y.index(3) # returns lowest index at which value occurs (5)
# y.index(-10) THROWS AN ERROR

y.insert(0, 10000) #adds 10000 at index 0 insert(idx, obj)

y.pop() # removes and returns last elment in list 
y.remove(3) # removes first instance of object from list

y.reverse() # reverses the list
y.sort() # sorts the list

['apple', 'foo', 'zebra', 'zoo']

**Tuples**

Tuples are similar to lists, but they are read-only and use parantheses. They cannot be updated

In [0]:
tv_shows = ("Peaky Blinders", "Game Of Thrones", "The Office", 
            "Chuck", "The 100", "Jeopardy", "Southern Charm", "Family Feud",
            "Below Deck", "Money Heist", "The Good Place", "Grey's Anatomy")
#tv_shows[3] = "The Simpsons" NOT ALLOWED TO UPDATE TUPLE

print(tv_shows) #prints entire list
print(tv_shows[0]) #prints first element in list
print(tv_shows[2:]) #prints entire list starting with third element
print(tv_shows[:4]) #prints beginning of list up to fourth element (does not include fourth indexed element)

tv_shows = ("Hi") #but can change what variable is pointing to

('Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy")
Peaky Blinders
('The Office', 'Chuck', 'The 100', 'Jeopardy', 'Southern Charm', 'Family Feud', 'Below Deck', 'Money Heist', 'The Good Place', "Grey's Anatomy")
('Peaky Blinders', 'Game Of Thrones', 'The Office', 'Chuck')

In [0]:
tup1 = (1, 2, 3, "4")
tup2 = ("4", 5, 6, 7, 8)
tup3 = tup1 + tup2 # concatenates the two tuples into one tuple

len(tup3) # 9 - length of tuple
"4" in tup3 # True


toople = ("go", "fight", "win")
for q in toople:
  print(q) #prints go fight win

twople = (1, 2, 4, 5)
for l in twople :
  print(l) #prints 1, 2, 4, 5

# can do max, min for tuples same as lists

go
fight
win
1
2
4
5

**Dictionary**

Uses key-value pair to connect data (need distinct keys). Keys and Values can be different data types

In [0]:
dic1 = {"Cassidy": 23, "Becky": 51, "Kevin":52, "Murphy":4, "Halie":21}
dic2 = {"Name":"Halie Chmura", "Age": 21, "Student": True, "Pet's Name":"Murphy"}
dic3 = {"Name": "Cassidy Chmura", 200: "15"}

 # can use diff types for keys and values

dic1["Cassidy"] #23
dic2["Student"] #True
dic3[200] #"15"
dic2.keys() #list: ["Name", "Age", "Student", "Pet's Name"]
dic2.values() #list: ["Halie Chmura", 21, True, Murphy]

dict_values(['Halie Chmura', 21, True, 'Murphy'])

In [0]:
d = {"Fruit":"Apple", "Vegetable": "Brocolli", "Animal": "Dog", "Movie":"The Wolf of Wall Street"}
d["Color"] = "Blue" # adds key/value pair of "Color":"Blue"
del d["Movie"] # delete movie key from dictionary
# del d["TV Show"] THROWS AN ERROR
d.clear() # removes all entries from d
del d # deletes entire dictionary

# keys must be immutable, so keys can be strings, numbers, or tuples

d = {"Fruit":"Apple", "Vegetable": "Brocolli", "Animal": "Dog", "Movie":"The Wolf of Wall Street"}
len(d) # gives length of dictionary (4)

# in tests for keys only
d.get("Fruit") # returns "Apple"
"Vegetable" in d # True
"Brocolli" in d # False

d.items() # returns a list of d (key, value) pairs in a 
d.keys() # returns a list of d keys
d.values() # returns a list of d values

dict_values(['Apple', 'Brocolli', 'Dog', 'The Wolf of Wall Street'])

**Data Type Conversion**

In [0]:
x = 4.9
int(x) #rounds x to 4
str(x) #makes x into "4.9"

y = "4"
int(y) #turns y into int 4

z = "foo"
#int(z) #VALUE ERROR WOULD BE THROWN

lis = [4, 5, 3, 5, 6, 3, 3, 3, 3, 3, 3, 3, 4, 5]
tuple(lis) # converts lis to a tuple
set(lis) # converts lis to a set (ie no repeats and order doesn't matter)
list(set(lis)) # converts the set of lis to a list

i = 1
float(i) # converts int to float

ni = -4.9
int(ni) # rounds up to -4

-4

**Conditionals**

In [0]:
x = 1300
if (x != 1400) : print("booyah!")

booyah!

In [0]:
if x < 19 :
  print("won't get here")
elif x < 1000 :
  print("won\'t get here either")
else :
  print("will get here")

will get here

**Loops**

Important statements:


1.   break statement: stops loop and continues on
2.   continue statement: continues at top of loop
3.   pass statement: used when a statement is required syntactically but don't need any code there

**Random**

In [0]:
import random

t = (14, 213, 98792, -19123, 32904, -232332)
random.choice(t) # choose a random value from t
random.randrange(1, 1000, 2) # choose randomly value between inclusive 1 and 1000, but only odd numbers because of step (start, stop, step)
random.random() # random value from inclusive 0 to exclusive 1

s = [3, 2, 23, 53, 35, 24]
random.shuffle(s) # randomly shuffles elements in s

[35, 23, 53, 3, 2, 24]

**Time**

In [0]:
import time
ticks = time.time()
print("Number of ticks: {}".format(ticks))

# ticks are number of seconds since Jan 1, 1970 12:00am

localtime = time.localtime(time.time())
print(localtime)

localtime = time.asctime(time.localtime(time.time()))
print("Local current time: {}".format(localtime))

Number of ticks: 1588738406.7494154
time.struct_time(tm_year=2020, tm_mon=5, tm_mday=6, tm_hour=4, tm_min=13, tm_sec=26, tm_wday=2, tm_yday=127, tm_isdst=0)
Local current time: Wed May  6 04:13:26 2020

In [0]:
import calendar

cal = calendar.month(1999, 4)
print(cal)

     April 1999
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

**Functions**

In [0]:
def printStatement(sentence) :
  print(sentence)

printStatement("Hello")


def listChanger(theList) :
  theList.append("wazzzzzup")

x = ["hi", "byE", "mate", "moo"]
listChanger(x)


def defaultParam(name, age = 35) :
  print("Name: {} Age: {}".format(name, age))

defaultParam("Halie", 21) # Name: Halie Age: 21
defaultParam("Halie") # Name: Halie Age: 35

# Variable-length arguments (when you need to process a funciton for more arguments than you specified while defining the function)

def printInfo(arg1, *extraargs) :
  print(arg1)
  for arg in extraargs :
    print(arg)
  return

printInfo("Halie", "Funny", "Moon", "Stars", "Dragon", "Beets") # prints out all of these 


def adder(arg1, arg2) :
  return arg1 + arg2

adder(1, 2) #3

Hello
Name: Halie Age: 21
Name: Halie Age: 35
Halie
Funny
Moon
Stars
Dragon
Beets

3

**Important**

In [0]:
# use dir() to get a sorted list of strings that contains the names defined by a module
import math

content = dir(math)
print(content)


# can use global() and local() functions to see all global and local values at any given point of a program

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

**Reading Input**

In [0]:
# input function

stri = input("Enter your input")
print("Received input: {}".format(stri))

r = ["foo", "moo", "doo", "zoo"]
for i in range(len(r)) :
  s = input("Enter a number: ")
  print("NUMBER ENTERED: {}".format(s))

Enter your input3
Received input: 3
Enter a number: 4
NUMBER ENTERED: 4
Enter a number: 3
NUMBER ENTERED: 3
Enter a number: 2
NUMBER ENTERED: 2
Enter a number: 2
NUMBER ENTERED: 2

**Exception Handling**

In [0]:
# assert statement - excepion is raised if result comes up false

def KelvinToFahrenheit(Temperature):
   assert (Temperature >= 0),"Colder than absolute zero!" # here if Temperature <0 than "Colder than absolute zero!" error is thrown
   return ((Temperature-273)*1.8)+32

print(KelvinToFahrenheit(273))
print(int(KelvinToFahrenheit(505.78)))
print(KelvinToFahrenheit(-5))

32.0
451

AssertionError: ignored

In [0]:
# Handling an exception

def temp_converter(var) :
  try:
    return int(var)
  except ValueError :
    print("Arg does not contain numbers")

temp_converter("xyz")

def temp_converter2(var) :
  try:
    return int(var)
  except Exception :
    print("Arg does not contain numbers")

temp_converter("xyz")


# Types of Errors:

#ValueError, TypeError, RuntimeError, SystemExit, SystemError, IndentationError, IOError, EnvironmentError, UnboundLocalError, NameError, KeyError
#IndexError, LookupError, KeyboardInterrupt, ImportError, EOFError, AttributeError, AssertionError, FloatingPointError, OverflowError
#ArthmeticError, StandardError, SystemExit, StopIteration, Exception

Arg does not contain numbers
Arg does not contain numbers